#example1 {
  width: 340px;
  height: 340px;
  position: relative;
  overflow: hidden;

  border: 2px solid #aaa;
  margin: 20px auto;
}

body.article #main #example1 ul li {
  width: 78px;
  height: 78px;

  margin: 10px;

	border-style: solid;
	border-width: 8px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

  text-align: center;
  line-height: 75px;
  float: left;
  list-style: none;
  padding: 0;
  background: none;
}

#example1 li p {
	font-size: 2em;
	font-weight: bolder;
	text-transform:capitalize;
}
