<?php

require_once '/home/zazabe/www/zazabe/lib/vendor/diem/dmCorePlugin/lib/core/dm.php';
dm::start();

class ProjectConfiguration extends dmProjectConfiguration
{

  public function setup()
  {
    parent::setup();
    
    $this->enablePlugins(array(
      	'dmWidgetTwitterPlugin',
		'dmTagPlugin',
		'dmCommentPlugin',
'sfDoctrineNestedSetPlugin'  
    ));
    
    $this->setWebDir(sfConfig::get('sf_root_dir').'/web');
    $this->enablePlugins('sfDoctrinePlugin');
    $this->enablePlugins('sfDoctrinePlugin');
  }
  
}
